@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

.generalInput {
  padding: var(--container-padding-sm);
  border: var(--border-2);
  border-radius: var(--br-800);
  box-shadow: var(--shadow-200);
  background-color: var(--bg-input);
  font-size: var(--fs-300);
  text-align: center;
  transition: var(--transition-main);

  &:focus-visible {
    @include focused;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--bg-color-alt);
  }
}

.visuallyHidden {
  @include visually-hidden;
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--element-gap-sm);
}
