:root {
  --blue-50: oklch(0.9352 0.0302 268.66);
  --blue-100: oklch(0.8917 0.0346 268.66);
  --blue-200: oklch(0.7997 0.0851 268.66);
  --blue-300: oklch(0.7953 0.0791 274.54);
  --blue-400: oklch(0.697 0.1565 268.66);
  --blue-500: oklch(0.5119 0.2399 268.66);
  --blue-600: oklch(0.4525 0.2838 268.66);
  --blue-700: oklch(0.3206 0.2114 268.66);
  --blue-800: oklch(0.2177 0.1092 268.66);
  --blue-900: oklch(0.1648 0.0697 268.66);
  --blue-950: oklch(0.0935 0.0511 268.66);

  --red-50: oklch(0.9525 0.0154 24.57);
  --red-100: oklch(0.9318 0.0242 24.57);
  --red-200: oklch(0.8902 0.0406 24.57);
  --red-300: oklch(0.8338 0.0659 24.57);
  --red-400: oklch(0.7389 0.1021 24.57);
  --red-500: oklch(0.7176 0.1757 24.57);
  --red-600: oklch(0.6558 0.213 24.57);
  --red-700: oklch(0.365 0.0856 24.57);
  --red-800: oklch(0.2671 0.0571 24.57);
  --red-900: oklch(0.184 0.0417 24.57);
  --red-950: oklch(0.1306 0.0351 24.57);

  --green-50: oklch(0.9794 0.0307 153.83);
  --green-100: oklch(0.9318 0.0472 153.83);
  --green-200: oklch(0.9199 0.0725 153.83);
  --green-300: oklch(0.8338 0.1076 153.83);
  --green-400: oklch(0.8338 0.1625 153.83);
  --green-500: oklch(0.7537 0.1904 153.83);
  --green-600: oklch(0.5727 0.1263 153.83);
  --green-700: oklch(0.5 0.0988 153.83);
  --green-800: oklch(0.3912 0.0988 153.83);
  --green-900: oklch(0.2611 0.0329 153.83);
  --green-950: oklch(0.1324 0.0231 153.83);

  --yellow-50: oklch(0.9644 0.034 107.89);
  --yellow-100: oklch(0.9347 0.0582 107.89);
  --yellow-200: oklch(0.9228 0.0878 107.89);
  --yellow-300: oklch(0.9228 0.112 107.89);
  --yellow-400: oklch(0.8546 0.146 107.89);
  --yellow-500: oklch(0.8546 0.1839 107.89);
  --yellow-600: oklch(0.7359 0.1274 107.89);
  --yellow-700: oklch(0.635 0.1142 107.89);
  --yellow-800: oklch(0.4362 0.0692 107.89);
  --yellow-900: oklch(0.3236 0.0439 107.89);
  --yellow-950: oklch(0.184 0.0296 107.89);

  --orange-50: oklch(0.9529 0.034 70.5);
  --orange-100: oklch(0.9021 0.0395 70.5);
  --orange-200: oklch(0.8882 0.0845 70.5);
  --orange-300: oklch(0.8071 0.1153 70.5);
  --orange-400: oklch(0.8176 0.1455 70.5);
  --orange-500: oklch(0.7552 0.1554 70.5);
  --orange-600: oklch(0.5801 0.1202 70.5);
  --orange-700: oklch(0.453 0.0972 70.5);
  --orange-800: oklch(0.3442 0.0741 70.94);
  --orange-900: oklch(0.2478 0.0445 70.94);
  --orange-950: oklch(0.2089 0.0302 70.94);

  --purple-50: oklch(0.9117 0.0456 292.17);
  --purple-100: oklch(0.8531 0.0653 292.17);
  --purple-200: oklch(0.8264 0.0935 292.17);
  --purple-300: oklch(0.77 0.1114 292.17);
  --purple-400: oklch(0.6573 0.1576 292.17);
  --purple-500: oklch(0.5326 0.2168 292.17);
  --purple-600: oklch(0.411 0.1828 292.17);
  --purple-700: oklch(0.3295 0.1455 292.17);
  --purple-800: oklch(0.2618 0.0917 292.17);
  --purple-900: oklch(0.1648 0.0829 292.17);
  --purple-950: oklch(0.1 0.0554 292.17);

  --emerald-50: oklch(0.9676 0.0412 185.34);
  --emerald-100: oklch(0.9303 0.0631 185.34);
  --emerald-200: oklch(0.8947 0.084 176.8);
  --emerald-300: oklch(0.8323 0.1191 172.52);
  --emerald-400: oklch(0.7641 0.1389 172.52);
  --emerald-500: oklch(0.7206 0.1279 172.52);
  --emerald-600: oklch(0.5475 0.0895 172.52);
  --emerald-700: oklch(0.4648 0.0895 172.58);
  --emerald-800: oklch(0.319 0.0543 172.58);
  --emerald-900: oklch(0.2324 0.0445 172.58);
  --emerald-950: oklch(0.135 0.0181 172.58);

  --pink-50: oklch(0.9264 0.039 360);
  --pink-100: oklch(0.8769 0.0631 360);
  --pink-200: oklch(0.8264 0.1044 360);
  --pink-300: oklch(0.7433 0.1532 360);
  --pink-400: oklch(0.6751 0.1729 360);
  --pink-500: oklch(0.5816 0.1976 360);
  --pink-600: oklch(0.4985 0.1658 360);
  --pink-700: oklch(0.4118 0.1197 360);
  --pink-800: oklch(0.2971 0.0966 360);
  --pink-900: oklch(0.2383 0.078 360);
  --pink-950: oklch(0.1148 0.0461 360);

  --sky-50: oklch(0.9617 0.0209 232.88);
  --sky-100: oklch(0.9199 0.034 232.88);
  --sky-200: oklch(0.9021 0.0457 232.88);
  --sky-300: oklch(0.8101 0.067 232.88);
  --sky-400: oklch(0.7982 0.1032 232.88);
  --sky-500: oklch(0.7329 0.1241 232.88);
  --sky-600: oklch(0.6409 0.1316 232.88);
  --sky-700: oklch(0.5223 0.0933 239.29);
  --sky-800: oklch(0.4148 0.0933 239.29);
  --sky-900: oklch(0.2648 0.0593 239.29);
  --sky-950: oklch(0.1648 0.0373 239.29);

  --gray-50: oklch(0.9585 0 264.93);
  --gray-100: oklch(0.905 0 264.93);
  --gray-200: oklch(0.8042 0 264.93);
  --gray-300: oklch(0.7092 0 264.93);
  --gray-400: oklch(0.6261 0 264.93);
  --gray-500: oklch(0.5074 0 264.93);
  --gray-600: oklch(0.4154 0 264.93);
  --gray-700: oklch(0.3294 0 264.93);
  --gray-800: oklch(0.2255 0 264.93);
  --gray-900: oklch(0.1306 0 264.93);
  --gray-950: oklch(0.0682 0 264.93);
}
