@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/functions' as *;

/* ---------- base ---------- */
.actionButton {
  max-width: fit-content;
  border: var(--border-4);
  border-radius: var(--br-800);
  font-weight: var(--fw-black);
  text-transform: capitalize;
  font-size: var(--fs-400);
  transition: var(--transition-main);
  @include focused;

  &__primary {
    padding: var(--button-padding-lg);
    background-color: var(--bg-btn-primary);
    box-shadow: var(--shadow-300);

    &:hover,
    &:focus-visible {
      background-color: var(--bg-color-alt);
      box-shadow: var(--shadow-500);
      transform: scale(1.05);
    }
  }

  &__secondary {
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow-200);

    &:hover,
    &:focus-visible {
      background-color: var(--bg);
      box-shadow: var(--shadow-400);
      transform: scale(1.05);
    }
  }

  &__caution {
    background-color: var(--bg-warning);
    color: var(--text-on-warning);
  }

  &__delete {
    background-color: var(--bg-danger);
    color: var(--text-opposite);
  }

  &__disabled {
    background-color: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
