@mixin focused {
    &:focus-visible {
        outline: var(--border-4);
        outline-offset: 4px;
        outline-color: var(--pink-500);
    }
    
    &:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }
}

@mixin visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  