@mixin heading( 
    $size, 
    $weight, 
    $line-height, 
    $text-transform: capitalize
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    text-transform: $text-transform;
}

@mixin heading-style($level) {
    @if $level == 1 {
        @include heading( 
            var(--fs-900),
            var(--fw-black),
            var(--lh-900),
        );
        text-align: center;
        color: var(--text-color);
    }

    @if $level == 2 {
        @include heading( 
            var(--fs-800), 
            var(--fw-extrabold),
            var(--lh-800),
        );
        text-align: center;
    }

    @if $level == 7 {
        @include heading(
            var(--fs-600),
            var(--fw-bold), 
            var(--lh-600),
        );
        text-align: center;
        font-style: italic;
    }
}