@mixin heading( 
    $size, 
    $weight, 
    $line-height, 
    $text-transform: capitalize
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    text-transform: $text-transform;
}

@mixin heading-style($level) {
    @if $level == 1 {
        @include heading( 
            var(--fs-900),
            var(--fw-black),
            var(--lh-900),
        );
        text-align: center;
    }
}