:root {
    --border-1: 1px solid var(--border-base-color);
    --border-2: 2px solid var(--border-base-color);
    --border-3: 3px solid var(--border-base-color);
    --border-4: 4px solid var(--border-base-color);
    --border-5: 5px solid var(--border-base-color);
    --border-6: 6px solid var(--border-base-color);
}