@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/mixins' as *;

:root {
  --gap-heading: #{px-to-rem(32)};

  --section-gap: #{px-to-rem(64)};

  --element-gap-sm: #{px-to-rem(8)};
  --element-gap-md: #{px-to-rem(16)};
  --element-gap-lg: #{px-to-rem(24)};
  --element-gap-xl: #{px-to-rem(36)};

  --paragraph-gap: #{px-to-em(32)};

  @include breakpoint(md) {
    --gap-heading: #{px-to-rem(48)};
    --section-gap: #{px-to-rem(78)};
  }

  @include breakpoint(lg) {
    --gap-heading: #{px-to-rem(64)};
    --element-gap-sm: #{px-to-rem(12)};
    --element-gap-md: #{px-to-rem(20)};
    --element-gap-lg: #{px-to-rem(32)};
    --element-gap-xl: #{px-to-rem(48)};

    --section-gap: #{px-to-rem(96)};
    --paragraph-gap: #{px-to-em(48)};
  }
}
