@use '@/styles/abstracts/functions' as *;
@use '@/styles/abstracts/mixins' as *;

:root {
  --page-padding-y: #{px-to-rem(60)};
  --page-padding-x: #{px-to-rem(44)};

  --section-padding-x: #{px-to-rem(24)};
  --section-padding-y: #{px-to-rem(40)};

  --container-padding-xs: #{px-to-rem(4)};
  --container-padding-sm: #{px-to-rem(8)};
  --container-padding-md: #{px-to-rem(16)};
  --container-padding-lg: #{px-to-rem(24)};
  --container-padding-xl: #{px-to-rem(32)};

  --button-padding-sm: #{px-to-rem(8)} #{px-to-rem(16)};
  --button-padding-md: #{px-to-rem(12)} #{px-to-rem(24)};
  --button-padding-lg: #{px-to-rem(16)} #{px-to-rem(32)};

  @include breakpoint(md) {
    --page-padding-y: #{px-to-rem(120)};
    --page-padding-x: #{px-to-rem(60)};

    --section-padding-x: #{px-to-rem(32)};
    --section-padding-y: #{px-to-rem(48)};
  }
                                                               
  @include breakpoint(lg) {
    --page-padding-y: #{px-to-rem(160)};
    --page-padding-x: #{px-to-rem(80)};
                                      
    --section-padding-x: #{px-to-rem(48)};
    --section-padding-y: #{px-to-rem(64)};

    --container-padding-xs: #{px-to-rem(8)};
    --container-padding-sm: #{px-to-rem(16)};
    --container-padding-md: #{px-to-rem(24)};
    --container-padding-lg: #{px-to-rem(32)};
    --container-padding-xl: #{px-to-rem(40)};

    --button-padding-sm: #{px-to-rem(12)} #{px-to-rem(24)};
    --button-padding-md: #{px-to-rem(16)} #{px-to-rem(32)};
    --button-padding-lg: #{px-to-rem(20)} #{px-to-rem(40)};
  }
}
