@use '@/styles/abstracts/functions' as *;

:root {
  --page-max-width: #{px-to-rem(1920)};
  --section-max-width: #{px-to-rem(1280)};
  --max-paragraph-width: #{px-to-ch(680)};

  --lg-container-width: #{px-to-ch(680)};
  --md-container-width: #{px-to-rem(468)};
}
